name: CI
on:
  workflow_dispatch:
  push:
  pull_request:
    paths-ignore:
      - doc/**
      - .github/workflows/reviewdog.yml

jobs:
  test-on-vim:
    name: Vim ${{ matrix.vim_version }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

        vim_version:
          - v8.0.0000
          - v8.1.0005
          - v9.0.0000
          - v9.1.0000
          - head

        download:
          - available

    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - name: Setup Vim
        id: vim
        uses: thinca/action-setup-vim@v2
        with:
          vim_version: ${{ matrix.vim_version }}
          download: ${{ matrix.download }}
      - name: Show Vim version
        run: |
          ${{ steps.vim.outputs.executable }} --version
      - name: Setup themis.vim
        uses: actions/checkout@v6
        with:
          repository: thinca/vim-themis
          path: themis
      - name: Run test
        env:
          THEMIS_VIM: ${{ steps.vim.outputs.executable }}
        run: |
          ./themis/bin/themis --reporter dot
